@import "tailwindcss";

@theme {
  --font-birthstone: "Birthstone", cursive;
  --font-parisienne: "Parisienne", cursive;
  --font-montserrat: "Montserrat", sans-serif;
  --font-tangerine: "Tangerine", cursive;
  --color-darkGray: #666666
}